@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-50 px-4;

  /* react-toastify */
  --toastify-color-light: #f59e0b;
  --toastify-text-color-light: white;
  --toastify-spinner-color: #b45309;
}
